<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Roofy</title>
    
    <!-- styles -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="./styles.css" />

  </head>
  <body>

    <div class="container mb-3" style="margin-top: 40px;">
        <h1>Welcome back to the Admin Page you wanker!</h1>
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">views in the past month</h5>
                    <p class="card-text">insert some graph here or something</p>
                </div>
                <div class="card-footer">
                    <a href="/admin/views" class="btn btn-primary">Learn More</a>
                </div>
            </div>
            </div>

            <div class="col">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title">new users over time</h5>
                        <p class="card-text">insert some graph here or something</p>
                    </div>
                    <div class="card-footer">
                        <a href="/admin/purchases" class="btn btn-primary">Learn More</a>
                    </div>
                </div>
                </div>

                <div class="col">
                    <div class="card h-100">
                        <div class="card-body">
                            <h5 class="card-title">number of listings this past week</h5>
                            <p class="card-text">insert some graph here or something</p>
                        </div>
                        <div class="card-footer">
                            <a href="/admin/bookmarks" class="btn btn-primary">Learn More</a>
                        </div>
                    </div>
                    </div>
        </div>
    </div>

    <!-- javascript -->
    <script>
        //hide rent fields
        updateForm("RENT", "none")
  
        let saleOrRent = document.querySelector("#saleOrRent");
        saleOrRent.addEventListener('change', function(e) {
            let elem = event.target;
            let type = elem.value;
            let oppType = type == "RENT" ? "SALE" : "RENT";
            updateForm(oppType, "none")
            updateForm(type, "block")
        } )
        
        function updateForm(type, display) {
            const divsToHide = document.getElementsByClassName(type)
            for(var i = 0; i < divsToHide.length; i++){
                divsToHide[i].style.display = display;
            }
        }
    </script>
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
      <script src="js/bootstrap.bundle.min.js"></script>
    </body>
  </html>